.img_container {
  width: 100%;
  gap: 30px;
  margin-top: 130px;
}

.card_insert {
  width: 448px;
  height: 564px;
  border-radius: 27px;
  border: 1px solid #e9e9e9;
  object-fit: cover;
}
.spinner-wrap {
  position: relative;
  top: -260px;
  left: 100px;
}
.spinner-item {
  border: 10px solid red;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: zoom 2s linear 0.75s infinite;
}
.spinner-item--2 {
  animation-delay: 1.25s;
}
.spinner-item--3 {
  animation-delay: 1.75s;
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

#card_pay {
  display: none;
}

.pay_video {
  width: 762px;
  height: 544px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.none_class{
  display: none;
}
