.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NanumSquare_ac;
  overflow: hidden;
  height: 100vh; /* 화면 세로 길이에 꽉 차도록 설정 */
  background-color: #f0f0f0;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  height: 110px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  z-index: 100;
}

.footer {
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 80px;
  top: 1813px;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.container {
  width: 1080px; /* 화면 가로 길이에 꽉 차도록 설정 */
  height: 1920px; /* 화면 세로 길이에 꽉 차도록 설정 */
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center_cantainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Step Bar */
.stepContainer {
  width: 100%;
  height: 126.58px;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  background: #e2e2e2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.nowText {
  color: var(--Black, #000);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 159.25px;
}

.nextText {
  color: #535353;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 159.25px;
}

.stepSubContainer {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.steptextSubContainer {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  /* gap: 50px; */
}

.check_bar {
  width: 150px;
  border: solid #334d81 5px;
}

.bar {
  width: 150px;
  border: solid #ffffff 5px;
}

.task_title {
  width: 1080px;
  height: 95px;
  flex-shrink: 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

  color: #334d81;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.task_content_container {
  height: 1270.86px;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
/* Header */

#homeBtn {
  display: inline-flex;
  height: 79px;
  padding: 29px 45px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 120px;
  border: 0.5px solid #cbcbcb;
  background: #1d2d4d;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

#homeBtn:active {
  fill: #1d2d4d;
  color: #1d2d4d;
  border-radius: 120px;
  border: 3px solid #1d2d4d;
  background: #fff;
}
#homeBtn:active .home {
  fill: #1d2d4d;
}
.chatbotActiveText {
  color: var(--Main-Color, #334d81);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  left: 135px;
}

.toggleSwitch {
  width: 320px;
  height: 72px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  border: 6px solid #334d81;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .chatbotIcon {
  /* 버튼은 토글보다 작아야함  */

  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
}

#toggle:checked ~ .toggleSwitch {
  background: #334d81;
}

#toggle:checked ~ .toggleSwitch .chatbotIcon {
  left: calc(100% - 124px);
}
#toggle:checked ~ .toggleSwitch .chatbotActiveText {
  color: white;
  left: 40px;
}

.toggleSwitch,
.chatbotIcon,
.chatbotActiveText {
  transition: all 0.2s ease-in;
}
#toggle:checked ~ .toggleSwitch .chatbotActiveText::before {
  content: '안내 버튼 켜짐';
}

#toggle:not(:checked) ~ .toggleSwitch .chatbotActiveText::before {
  content: '안내 버튼 꺼짐';
}

.baner {
  width: 1080px;
  height: 233px;
  background:
    url('../img/baner.png'),
    lightgray 50% / cover no-repeat;
}

.back_button {
  width: 250px;
  height: 70px;
  border-radius: 8px;
  border: 0.5px solid #cbcbcb;
  background: #505050;
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
  margin-left: 10px;
}

.select__container {
  display: flex;
  width: 1080px;
  height: 1284px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade_in {
  animation: slideDownAndHold 0.5s ease-out forwards;
}

.fade_out {
  animation: slideUpAndHold 0.5s ease-out forwards;
}

@keyframes slideUpAndHold {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-233px);
  }
}

@keyframes slideDownAndHold {
  0% {
    transform: translateY(-233px);
  }
  100% {
    transform: translateY(0px);
  }
}

#baner {
  width: 1080px;
  height: 233px;
  position: absolute;
}

#canvas {
  width: 300px;
  height: 233px;
}

#assistant_container {
  width: 1080px;
  height: 233px;
  background: #fafafa;
  position: absolute;
}

.assistant_subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #808080;
}

.balloon_03 {
  position: relative;
  width: 700px;
  height: 180px;
  background: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 26px rgba(0, 0, 0, 0.25));
}
.balloon_03:after {
  border-top: 20px solid #ffffff;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 130px;
  right: -25px;
  filter: drop-shadow(0px 2px 26px rgba(0, 0, 0, 0.25));
}
