

.menu_option_container {
  height: fit-content;
  width: 100%;
  border: solid 1px blue;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.menu_info_sub_container {
  margin-top: 22px;
  width: 924px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img_background {
  width: 273.473px;
  height: 254px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(51, 51, 51, 0.31);
  background: #fff;
}

.menu_option_img {
  width: auto;
  height: 175.26px;
  flex-shrink: 0;
}

.menu_text_container {
  width: 564px;
  height: 254px;
  margin-left: 40px;
  position: relative;
}

.menu_title {
  color: var(--B-1, #333);
  font-family: NanumSquare_ac;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu_title_info {
  color: var(--B-1, #333);
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.5%; /* 39.45px */
  letter-spacing: 1.35px;
}

.menu_price_text {
  position: absolute;
  bottom: 0px;
  color: var(--Black, #000);
  font-family: NanumSquare_ac;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option_container {
  display: flex;
  align-items: center;
  margin-top: 23px;
  width: 924px;
  height: 965px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding-top: 22px;
  flex-direction: column;
  gap: 25px;
}

.option_title {
  width: 839px;
  height: 64px;
  flex-shrink: 0;
  border-top: 2px solid var(--Main-Color, #334d81);
  border-bottom: 2px solid var(--Main-Color, #334d81);
  color: var(--Main-Color, #334d81);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option_text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 299px;
  height: 57px;
  flex-shrink: 0;
}

.option_text_num {
  color: #000;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 8px;
}

.option_text_title {
  color: #000;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 11px;
}

.option_container_select {
  width: 509px;
  height: auto;
  display: flex;
}

.option_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

#delete_item_btn {
  border-radius: 50px 10px 10px 50px;
  border: 3px solid #575757;
  background: #f8f8f8;
  width: 174px;
  height: 57px;
  flex-shrink: 0;
  color: #575757;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#add_item_btn {
  border-radius: 10px 50px 50px 10px;
  border: 3px solid #575757;
  background: #f8f8f8;
  width: 174px;
  height: 57px;
  flex-shrink: 0;
  color: #575757;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.set_count {
  color: #000;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.set_count_text {
  color: #9e9e9e;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option_select_button {
  width: 157.065px;
  height: 157.065px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 3px solid #787878;
  background: #f8f8f8;
  flex-direction: column;
  gap: 5px;
}

.option_select_text {
  color: #575757;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.option_icon_attribute {
  width: fit-content;
  height: 76px;
}

.add_option_text {
  color: #333;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#add_option_button {
  display: inline-flex;
  height: 55px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #303030;
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu_select_info_container {
  display: flex;
  align-items: center;
  width: 859px;
  gap: 86px;
}

.menu_price_info_text {
  color: #000;
  width: 79px;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu_price {
  color: #0759fb;
  text-align: right;
  font-family: NanumSquare_ac;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 372px;
}

#add_to_cart_button {
  display: flex;
  width: 331px;
  height: 81px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Main-Color, #334d81);
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add_option_select_conatiner {
  display: none;
  position: relative;
  left: 0px;
  top: -1466px;
  z-index: 100;
  width: 1080px;
  height: 1466px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.7);
}
.add_option_select_content {
  width: 738px;
  height: 1164px;
  flex-shrink: 0;
  background: #fff;
  flex-direction: column;
}

.add_option_title {
  width: 738px;
  height: 85px;
  flex-shrink: 0;
  border-bottom: 1px solid #c2c2c2;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  color: var(--Main-Color, #334d81);
  font-family: NanumSquare_ac;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.add_option_subcontainer {
  width: 526.59px;
  height: 1005px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}

.add_price {
  color: #676767;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.prev_option_btn {
  width: 172px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #d9d9d9;
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  gap: 15px;
}

.option_able_paging {
  fill: var(--Main-Color, #334d81);
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option_disable_paging {
  fill: var(--white, #FFF);
  stroke-width: 3px;
  stroke: #DFDFDF;
  text-align: center;
  color: var(--B-1, #333);
text-align: center;
font-family: NanumSquare_ac;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.able_option_btn {
  display: flex;
  width: 300px;
  height: 74px;
  border: none;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 12px;
  background: var(--Main-Color, #334d81);
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cancel_option_btn {
  display: flex;
  width: 180px;
  height: 74px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 12px;
  background: #909090;
  border: none;
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
