.material-symbols-outlined {
    font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
  }

/* Header */
  #homeBtn {
    display: inline-flex;
    height: 79px;
    padding: 29px 45px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 120px;
    border: 0.5px solid #cbcbcb;
    background: #1d2d4d;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
    color: var(--white, #fff);
    text-align: center;
    font-family: NanumSquare_ac;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }

  #homeBtn:active {
    fill: #1D2D4D;
    color: #1D2D4D;
    border-radius: 120px;
    border: 3px solid #1D2D4D;
    background: #FFF;
  }
  #homeBtn:active .home {
    fill: #1D2D4D;
  }
  .chatbotActiveText{
    color: var(--Main-Color, #334D81);
    text-align: center;
    font-family: NanumSquare_ac;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    left: 135px;
    
  }

  .toggleSwitch {
    width: 320px;
    height: 72px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    border: 6px solid #334D81;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
  }
  
   /* 토글 버튼 */
  .toggleSwitch .chatbotIcon  {
    /* 버튼은 토글보다 작아야함  */
   
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
  }

  #toggle:checked ~ .toggleSwitch  {
    background: #334D81;
  }
  
  #toggle:checked ~ .toggleSwitch .chatbotIcon {
    left: calc(100% - 124px);
  }
  #toggle:checked ~ .toggleSwitch .chatbotActiveText {
    color: white;
    left: 40px;
  }
  
  .toggleSwitch, .chatbotIcon, .chatbotActiveText  {
    transition: all 0.2s ease-in;
    
  }
  #toggle:checked ~ .toggleSwitch .chatbotActiveText::before {
    content: '안내 버튼 켜짐';
  }
  
  #toggle:not(:checked) ~ .toggleSwitch .chatbotActiveText::before {
    content: '안내 버튼 꺼짐';
  }
  

  /* Step Bar */
.stepContainer{
    width: 100%;
    height: 112px;
    border-top: 2px solid #C7C7C7;
    border-bottom: 2px solid #C7C7C7;
    background: #E2E2E2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.nowText{
    color: var(--Black, #000);
    text-align: center;
    font-family: NanumSquare_ac;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nextText{
    color: #535353;
    text-align: center;
    font-family: NanumSquare_ac;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 159.25px;
}

.stepSubContainer{
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-bottom: 10px;
}

.steptextSubContainer{
    width: 100%;
    height: fit-content;
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction:row;
    /* gap: 50px; */
}

.bar{
    width: 150px; border: solid #ffffff 5px;
}


/* Category */
.categoryContainer{
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    flex-direction:column;
    margin-top: 19px;
    margin-bottom: 28px;
}

.categoryRow{
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    flex-direction:row;
    gap: 21px;
}

.categry input[type=radio]{
    display: none;
}

.categry label
{
    font-family: NanumSquare_ac;
    text-align: center;

    width: 232.127px;
    height: 75.811px;
    border-radius: 8px;
    font-size: 35px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
}


/* Checked */
.categry input[type=radio]:checked + label {
  
    background: var(--white, #334D81);
    color: #FFF;
}
 

/* Disabled */
.categry input[type=radio] + label {
    
    background: var(--white, #FFF);
    color: #333;
}

/* Menu */
.MenuContainer{
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  flex-direction:column;
}
.menuRowContainer{
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  flex-direction:row;
}
.menuBtn{
  display: flex;
  width: 306px;
  height: 286.597px;
  padding: 10px 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: #C7C7C7;
  border-radius: 10px;
  background: var(--white, #FFF);
  /* shadow */
  box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.25);
}

.menuImg{
  height: 179px;
  width: auto;
}

#menuName{
  color: #333;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

#menuPrice{
  color: #0759FB;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}