

/* Category */
.categoryContainer {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 19px;
  margin-bottom: 28px;
}

.categoryRow {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 21px;
}

.categry input[type='radio'] {
  display: none;
}

.categry label {
  font-family: NanumSquare_ac;
  text-align: center;

  width: 232.127px;
  height: 75.811px;
  border-radius: 8px;
  font-size: 35px;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
}

/* Checked */
.categry input[type='radio']:checked + label {
  background: var(--white, #334d81);
  color: #fff;
}

/* Disabled */
.categry input[type='radio'] + label {
  background: var(--white, #fff);
  color: #333;
}

/* Menu */
.MenuContainer {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17.87px;
}
.menuRowContainer {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 37px;
}
.menuBtn {
  display: flex;
  width: 306px;
  height: 286.597px;
  padding: 10px 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: #c7c7c7;
  border-radius: 10px;
  background: var(--white, #fff);
  /* shadow */
  box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.25);
}

.menuImg {
  height: 179px;
  width: auto;
}

#menuName {
  color: #333;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

#menuPrice {
  color: #0759fb;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 좌우 버튼 */
.LRRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 160px;
  margin: 20px auto;
}

.MenuBtn {
  width: 231.819px;
  height: 68px;
  border-radius: 43.5px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14.63px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);
}

.disabledMenuBtn {
  background: #d9d9d9;
}
.abledMenuBtn {
  background: #334d81;
}

.pagingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  gap: 20px;
}
.abledPaging {
  fill: var(--Main-Color, #334d81);
  stroke: #334d81;
}

.disabledPaging {
  fill: var(--white, #fff);
  stroke: #dfdfdf;
}

.disabledPaging text {
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Cart */
.cart_container {
  width: 1080px;
  height: 443px;
  flex-shrink: 0;
  border-radius: 25px 25px 0px 0px;
  border: 0.5px solid #d8d8d8;
  background: var(--white, #fff);
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.03);
}
.cart_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 15px 21px 0px 40px;
  gap: 600px;
}
.cart_title {
  color: #333;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart_delete {
  border-radius: 8px;
  border: 2px solid #e6e6e6;
  background: #fff;
  height: 55px;
  width: 264px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Black, #000);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart_select_container {
  width: 100%;
  height: 256px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.cart_LR_button {
  width: 53px;
  height: 150px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.03);
}
.cart_div {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_LR_button text {
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  width: 48px;
}

.disabled_menut_btn {
  background: #d9d9d9;
  color: var(--white, #fff);
}
.abled_menut_btn {
  background: #334d81;
}

.menu_select_subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 903px;
  height: 233px;
}

.cart_info_container {
  width: 100%;
  height: 70px;
}

.cart_info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart_info_container_title {
  color: #333;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart_info_container_text {
  color: #818288;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order_button {
  width: 250px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Main-Color, #334d81);
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.img_background {
  width: 273.473px;
  height: 254px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(51, 51, 51, 0.31);
  background: #fff;
}

.menu_option_img {
  width: auto;
  height: 175.26px;
  flex-shrink: 0;
}

.cart_list_container {
  width: 900px;
  height: 233px;
}

.cart_list_background {
  width: 326px;
  height: 233px;
  flex-shrink: 0;
  width: 326px;
  height: 233px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 0.5px solid #d9d9d9;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.cart_list_number {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 15px 0px;
  background: #333;
  color: var(--white, #fff);
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: -6px;
}

.cart_delete_icon {
  width: 85px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 132px;
  border: 1px solid #6f6f6f;
  background: #464646;
  color: var(--white, #fff);
  font-family: NanumSquare_ac;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 5px;
}

.cart_menu_img {
  height: 106px;
}

.cart_info_sub_conatiner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 10px;

  /* align-items: center; */
}

.cart_menu_name {
  color: var(--B-1, #333);
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart_container_info_sub_conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart_info_text {
  color: #626262;
  font-family: NanumSquare_ac;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.count_info_text {
  color: #000;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price_text {
  color: #333;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.price_won {
  color: #818288;
  text-align: center;
  font-family: NanumSquare_ac;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}




.paging label {
  font-family: NanumSquare_ac;
  text-align: center;

  width: 56px;
  height: 56px;
  border-radius: 50px;
  font-size: 35px;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* .paging {
  font-size: 35px;
  font-weight: 1000;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100;
  height: 56;
} */

[type="radio"] {
  vertical-align: middle;
  display: none;
  
}

/* Checked */
.paging input[type='radio']:checked + label {
  background: var(--white, #334d81);
  border: solid 3px #334d81;
  color: #fff;
}

/* Disabled */
.paging input[type='radio'] + label {
  background: var(--white, #fff);
  border: solid 3px #DFDFDF;
  color: #333;
}
