#startBtn {
  position: absolute;
  top: 1423px;
  left: 284px;

  width: 511px;
  height: 135px;
  border-radius: 38px;
  border: 1px solid #020202;
  color: #000;
  background: #fff;
  font-family: "NanumSquare";
  font-size: 70px;
  font-weight: 800;
  z-index: 5;
  display: inline-block;
}
#startBtn:active {
  color: #ffffff;
  border: 1px solid #334d81;
  background: #334d81;
}

.btnContainer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.languageBtn {
  display: flex;
  width: 200px;
  height: 72px;
  padding: 29px 45px;
  justify-content: center;
  align-items: center;
  border-radius: 62px;

  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.08);

  font-family: "NanumSquare";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.activeBtn {
  border: 0.5px solid #23365c;
  background: var(--Main-Color, #334d81);
  color: var(--white, #fff);
}
.offBtn {
  border: 0.5px solid #1d1d1d;
  background: #eaeaea;
  color: #000;
}
